:root{
    --brown: #B88E2F;
    --light-be: #FFF3E3;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #F4F5F7;
    --large-btn-width: 245px;
    --large-btn-height: 48px;
}

/* header */
header{
    background-color: var(--white);
    width: 90%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--black);
}

header nav{
    width: 50%;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style: none;
}

.action-btn{
    width: 240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-btn{
    display: none;
}
