/* config before */

:root{
    --brown: #B88E2F;
    --light-be: #FFF3E3;
    --black: #000000;
    --white: #FFFFFF;
    --gray: #9F9F9F;
    --large-btn-width: 245px;
    --large-btn-height: 48px;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;    
}

h1, h2, h3, h4, h5, h6, p, a, ul, li{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: var(--black);
}

a:hover{
    text-decoration: underline;
    color: var(--brown);
}

i{
    cursor: pointer;
}

image{
    object-fit: cover;
}